.menities {
    margin-top: 40px;
    font-size: 16px;
    border-bottom: #DDDDDD 1px;
    margin-right: 30px;
    /* text-align: center; */
}

.list {
    margin-top: 70px;
    /* border-bottom: #DDDDDD 1px; */
    list-style: none;
    /* margin-bottom: 10px; */
}

.reviews {
    margin-top: 40px;
}

.text_reviews {
    font-size: 16px;
    border-bottom: #DDDDDD 1px;
    margin-right: 30px;
}